html {
	height: 100%;
}

body {
	height: 100%;
}

#prisijungti {
	display: inline;
}

header {
	float: right;
}

#google {
	position: relative;
	top: 20%;
	left: 35%;
	height: 300px;
}

#googlelogo {
	height: 150px; 
	width: 450px;
}

#search {
	position: relative;
	top: 20%;
	right: 28%;
	width: 580px;
	height: 31px;
}
.link {
	margin-right: 20px;
}
#buttons {
	position: relative;
	top: 25%;
	left: 5%;
}

#button1 {
	height: 34px;
	width: 150px;
}

#button2 {
	height: 34px;
	width: 120px;
}

.foot {
	background-color: #D0D0D0;
}

#Lt {
	width: 100%;
	position: relative;
	top: 62%;
	height: 4%;
	border-bottom: 1px solid grey;
}

#nav1 {
	flex-basis: 40%;
}

#nav2 {
	flex-basis: 40%;
}

#lastline {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	width: 100%;
	position: relative;
	top: 62%;
	height: 4%;
}